# Project exclude paths
/cmake-build-debug/
# IntelliJ IDEA specific files and directories
.idea/
*.iml
# Intermediage files
*.gch
*.h.gch

# Compiled files
.out
.exe

#VS Code specific files
.vscode/